<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections></configSections>
<connectionStrings>
    <add 
      name="ConnectionString" 
      connectionString="Data Source=DESKTOP-IMDD02F\SQLEXPRESS;Initial Catalog=WPF;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>